[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-subsoniq
Exec=harbour-subsoniq
Name=Subsoniq
# translation example:
# your app name in German locale (de)
Name[de]=Subsoniq

